<h6>DashBoard </h6>
<h3>Welcome {{name}}</h3>
<p>Here are your Blogs</p>

{{#if blogs}}
  <table class="stripped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each blogs}}
        <tr>
          <td><a href="/blogs/{{_id}}">{{title}}</a></td>
          <td>{{formatDate createdAt "MMMM Do YYYY, h:mm a"}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a href="/blogs/edit/{{_id}}" class="btn btn-float">
              <i class="fas fa-edit"></i>
            </a>

            <button
              type="button"
              class="btn red"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <i class="fas fa-trash"></i>
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Blog</h5>

                  </div>
                  <div class="modal-body">
                    Are you Sure?
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >Cancel</button>
                    <form
                      action="/blogs/{{_id}}"
                      method="POST"
                      id="delete-form"
                    >
                      <input type="hidden" name="_method" value="DELETE" />
                      {{! <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                      </button> }}
                      <button type="submit" class="btn btn red">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
      {{/each}}
    </tbody>

  </table>

{{else}}
  <p>You have not created any blogs</p>
{{/if}}